<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i>
            Back To Dashboard
        </a>
    </div>
    <div class="col-md-6">
        <div class="btn-group pull-right">
            <a routerLink="/client/edit/{{id}}" class="btn btn-warning text-white mr-2">Edit</a>
            <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>
<hr>
<div *ngIf="client" class="card">
    <div class="card-header">{{client.firstName}} {{client.lastName}}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <h4>Client ID: {{client.id}}</h4>
            </div>
            <div class="col-md-8 col-sm-6">

            </div>
        </div>
        <hr>
        <ul class="list-group">
            <li class="list-group-item"><strong>Contact Email: </strong> {{client.email}}</li>
            <li class="list-group-item"><strong>Contact Phone: </strong> {{client.phone}}</li>
        </ul>
    </div>
</div>